In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

24/06/22 18:31:49 WARN Utils: Your hostname, Diegos-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.107 instead (on interface en0)
24/06/22 18:31:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/22 18:31:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/22 18:31:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
#ele está vinculado a um dataframe comando sparksql herdado da session aberta
spark.sql("""
CREATE TEMPORARY VIEW vw_device
USING org.apache.spark.sql.json
OPTIONS(path "/Users/diegomendesbrasil/Library/CloudStorage/OneDrive-Personal/Projetos/DMB Data Analytics/git/dataeng/python-study-projects/Spark/files/device/*.json")
""")

DataFrame[]

In [4]:
#ele está vinculado a um dataframe comando sparksql herdado da session aberta
spark.sql("""
CREATE TEMPORARY VIEW vw_subscription
USING org.apache.spark.sql.json
OPTIONS(path "/Users/diegomendesbrasil/Library/CloudStorage/OneDrive-Personal/Projetos/DMB Data Analytics/git/dataeng/python-study-projects/Spark/files/subscription/*.json")
""")

DataFrame[]

In [5]:
print(spark.catalog.listTables())

[Table(name='vw_device', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True), Table(name='vw_subscription', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [10]:
spark.sql("""SELECT * FROM vw_device LIMIT 10;""").show()

+------------+--------------------+----+------------+--------------------+-----------------+--------------------+--------------------+-------+-------+
|build_number|dt_current_timestamp|  id|manufacturer|               model|         platform|       serial_number|                 uid|user_id|version|
+------------+--------------------+----+------------+--------------------+-----------------+--------------------+--------------------+-------+-------+
|         105|       1654631486481|9293|       Apple|     Xiaomi Mi 8 Pro|Windows 10 Mobile|ToFVWLzGTJhQxAaJlDDn|8f7b83dd-89f9-4db...|   5292|    286|
|          96|       1654631486481|5402|      Lenovo|   Samsung Galaxy S4|       Android OS|ToFVWLzGTJhQxAaJlDDn|0b41f920-e0ec-4a4...|   7509|    521|
|         376|       1654631486481|7319|       Apple|Samsung Galaxy S7...|      Windows 8.1|     SJMZOmtU0csrv4R|0beb9c3a-aa32-46a...|   1704|    386|
|         483|       1654631486481|2447|      Huawei|           OnePlus 3|          Android|9vxM9fCsG9nXg8EjT...|6e78c1d0-509e-4ca...|   3427|    692|
|         400|       1654631486481|9744|        Dell|     Xiaomi Mi 8 Pro|       Firefox OS|39gPmcOKpwhDezLdi...|188966ee-7528-4ad...|   4960|    724|
|         370|       1654631486481| 984|       Apple|  Huawei Mate 10 Pro|Windows 10 Mobile|pEekWH7zGxVITv6NT...|db7a7c16-28b4-442...|   4905|    892|
|         226|       1654631486481|5793|        Acer|Samsung Galaxy S6...|    Windows Phone|Pbn8^`LkKPi4QJ79x...|d96466f3-6127-408...|   9616|    866|
|         403|       1654631486481|9821|     Xiamomi|        Google Pixel|        Danger OS|9vxM9fCsG9nXg8EjT...|7aff85e3-008c-4a0...|   1650|     75|
|         487|       1654631486481|3964|        Dell|   Samsung Galaxy S7|       BlackBerry|Hk4BoF=%ud/PV4K-/...|6f806ad6-ef68-418...|   2080|    125|
|         494|       1654631486481|5287|       Apple|       Huawei Mate 9|          Android|ToFVWLzGTJhQxAaJlDDn|d1de234f-d3ac-464...|   2682|    976|
+------------+--------------------+----+------------+--------------------+-----------------+--------------------+--------------------+-------+-------+

In [11]:
spark.sql("""SELECT * FROM vw_subscription LIMIT 10;""").show()

+--------------------+----+--------------+------------------+----------+-------+-----------------+--------------------+-------+
|dt_current_timestamp|  id|payment_method|      payment_term|      plan| status|subscription_term|                 uid|user_id|
+--------------------+----+--------------+------------------+----------+-------+-----------------+--------------------+-------+
|       1654631301210|5076|     Apple Pay| Full subscription|    Silver|Pending|          Monthly|0214d50a-91e0-430...|   5763|
|       1654631301210|6258|      Bitcoins|Payment in advance| Essential|   Idle|            Daily|8740922c-3d95-497...|   8343|
|       1654631301210|  47|   Credit card|            Annual|   Diamond|Pending|      Quinquennal|480b1735-5300-41b...|   4342|
|       1654631301210|1553|        Cheque| Full subscription|   Starter| Active|          Biennal|76f9d7aa-2234-488...|    959|
|       1654631301210|8601|    WeChat Pay|Payment in advance|      Gold| Active|            Daily|31146e3d-9818-4c9...|   7830|
|       1654631301210|1010|        Paypal|Payment in advance|  Platinum|Blocked|            Daily|cc431329-8214-4e1...|   6974|
|       1654631301210|4834|        Paypal|Payment in advance|Free Trial|   Idle|            Daily|a2e5a78d-4879-44a...|   3175|
|       1654631301210|8317|      Bitcoins| Full subscription|   Premium| Active|         Lifetime|ed98d938-4237-4db...|   4510|
|       1654631301210|8206| Visa checkout|            Annual|    Silver| Active|          Monthly|471e4792-67e4-4ef...|   4542|
|       1654631301210|2107|          Cash|Payment in advance|      Gold| Active|           Annual|fa50be66-019e-4dd...|   9851|
+--------------------+----+--------------+------------------+----------+-------+-----------------+--------------------+-------+

In [24]:
join_datasets = spark.sql("""
SELECT 
    cast(dev.user_id as int) id,
    dev.model,
    dev.platform,
    subs.payment_method,
    subs.plan                    
FROM
    vw_device as dev
    inner join vw_subscription as subs
    on dev.user_id = subs.user_id;
    """)

In [25]:
join_datasets.printSchema()

root
 |-- id: integer (nullable = true)
 |-- model: string (nullable = true)
 |-- platform: string (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- plan: string (nullable = true)

In [ ]:
/Users/diegomendesbrasil/Library/CloudStorage/OneDrive-Personal/Projetos/DMB Data Analytics/git/dataeng/python-study-projects/Spark/files